<div class="col-lg-12 col-xs-12">
    <h2>Top Utilisateurs</h2>
    {% if topUsers %}
        <ul class="list-group">
        {% for user in topUsers %}
            {% if app.user != user %}
                <li class="list-group-item">
                    <span class="badge">{{ user.videos.count }}</span>
                    <a href="{{ path('app_profil_view',{'username': user.username}) }}">{{ user.username }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="col-lg-12 col-xs-12">
    <h2>Top Vid&eacute;os</h2>
</div>