{% extends 'base.html.twig' %}

{% block title %}
    Accueil Partage tes videos
{% endblock %}

{% block content %}
    <h1>Partage de vid&eacute;os</h1>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h2>Liste des vid&eacute;os</h2>
    {% if videos %}
        {% for video in videos %}
            {% include ':Video:list.html.twig' %}
        {% endfor %}
    {% else %}
        <p>Aucune Vid&eacute;o !</p>
    {% endif %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        {% include 'rightcolumn.html.twig' %}
    </div>
{% endblock %}