body{
    font-family: 'Muli', sans-serif;
}
header {
    background-color: darkgray;
    width:100%;
    text-align: center;
}
header .menu {
    width:1170px;
    margin:0 auto;
}
.logo_menu a span{
    color: #075d74;
    font-weight: bold;
}
.logo_menu a span+span{
    padding-left:6px;
    font-size: 24px;
}
.corps{
    width:1170px;
    margin:0 auto;
    padding-top:60px;
}
.flash-msg {
    padding-top: 51px;
}
/*Formulaire de connexion*/
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login-page .form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-signin button, .form-signup button {
    text-transform: uppercase;
    outline: 0;
    background: #008AE6;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form-signin button:hover,.form-signin button:active,.form-signin button:focus {
    background: #006BB3;
    color: #FFF;
}
.form-signup button:hover,.form-signup button:active,.form-signup button:focus {
    background: #006BB3;
    color: #FFF;
}
.error {
    color:#F11;
}


/*Tableau*/
table, tr,td,th {
    border-collapse: collapse;
}
td, th {
    border:1px solid #111;
}

/*Affichage des videos*/
.titlevideo, .titledonnees {
    position:relative;
}
.modifvideo, .modifdonnees {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 34px;
    margin-top: 4px;
    display: inline-block;
    color:#11F;  
}
.deletevideo {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 14px;
    margin-top: 4px;
    display: inline-block;
    color:#F11;
}
.deletevideo a, .modifvideo a {
    text-decoration: none;
    color: inherit;
}

/*miniature dans videos*/
.miniature {
    position:relative;
}
.logo_play {
    visibility: hidden;
    position:absolute;
    top:40%;
    left:30%;
    width:42px;
    height:42px;
    padding:5px;
    font-size: 32px;
    background-color: rgba(255,255,255,0.8);
    border-radius:50%;
}
.miniature:hover .logo_play {
    visibility: visible;
}

/* si videos desactive*/
.unactive {
    filter:brightness(20%);
}